
body{
    font-family:'Times New Roman', Times, serif;

    font-weight: 500;
    margin-left: 300px;
    margin-right: 300px;
}



aside{
    width: 60%;
    float:right;
    text-align: right;
    margin-top: 15px;
    
    
}
article{
    margin-top: 190px;


}